@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  margin-top: 17px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #FFFFFF;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.image-style {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.raleway-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.button {
  z-index: 0;
  position: relative;
  display: block;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button::before {
  z-index: -1;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  content: "";
  min-width: 100px;
  height: 8px;
  background-color: #FFE17F;
  transform: translateY(-50%);
}

.button-style {
  display: block;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

/* index-page */

/* header общие стили */

.main-header {
  display: grid;
  grid-template-columns: 520px 500px;
  grid-template-areas:
    "logo        .       "
    "search-form user-nav"
    "site-nav    site-nav";
  column-gap: 18px;
  row-gap: 30px;
  padding: 0 60px;
  color: #000000;
  background-color: #FFFFFF;
  background-image: linear-gradient(#FFFFFF 23px,#FFE17F 23px);
}

/* первый ряд header логотип девайс */

.header-logo {
  grid-area: logo;
}

/* второй ряд header форма поиска и меню пользователя */

.header-search-form {
  position: relative;
  grid-area: search-form;
  display: flex;
  width: 520px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.header-search-form::before {
  position: absolute;
  top: 50%;
  left: 16px;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
}

.search-form-input {
  width: 359px;
  margin-right: -2px;
  padding: 8px 44px;
  font: inherit;
  align-items: center;
  color: #000000;
  background-color:  #FFE17F;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
}

.search-form-input::placeholder {
  color: #000000;
}

.search-form-button {
  width: 160px;
  padding: 8px;
  font: inherit;
  text-align: center;
  background-color:  #FFE17F;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
}

.user-navigation {
  grid-area: user-nav;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
}

.user-navigation-item {
  max-width: 250px;
}

.user-navigation-login {
  margin-right: auto;
}

.user-menu,
.catalog-menu {
  display: flex;
  flex-wrap: wrap;
}

.catalog-menu li:not(:last-child) {
  margin-right: 18px;
}

.user-menu-login {
  background-image: url("../images/icon/man.svg");
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 13px 12px;
}

.catalog-menu-compare {
  background-image: url("../images/icon/compare.svg");
  background-repeat: no-repeat;
  background-position: 9px center;
  background-size: 10px 12px;
}

.catalog-menu-card {
  position: relative;
  background-image: url("../images/icon/card.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 16px 14px;
}

.catalog-menu-card::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "2";
  width: 21px;
  height: 21px;
  padding: 2px;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.user-navigation-link {
  display: block;
  padding: 5px 0 5px 32px;
  text-decoration: none;
  color: #000000;
}

.catalog-menu-card .user-navigation-link {
  padding-left: 42px;
}


/* третий ряд header каталог и меню сайта */

.site-navigation {
  grid-area: site-nav;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-navigation-item {
  margin-right: 45px;
}

.site-navigation-item:first-child {
  margin-right: auto;
}

.site-navigation-item:last-child {
  margin-right: -5px;
}

.site-navigation-link {
  display: block;
  padding: 15px 0;
}

.header-catalog-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

/* main-index */

.main-index {
  margin-top: -14px;
}

/* slider */

.slider {
  position: relative;
  margin-bottom: 71px;
}

.slide-list {
  color: #444444;
  background-image: linear-gradient(#FFE17F 150px,#FFFFFF 150px);
}

.slide-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.slide-item::before {
  position: absolute;
  top: 82px;
  right: 48px;
  content: "01";
  width: 250px;
  min-height: 180px;
  font-style: normal;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  text-align: right;
  color: #FFFFFF;
}

.slide-item-description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  padding-top: 122px;
}

.slide-slogan {
  margin-bottom: 29px;
}

.slide-text {
  margin: 0;
  margin-bottom: 50px;
}

.slide-button-more {
  width: 220px;
  min-height: 40px;
  margin-bottom: 30px;
  padding: 10px 5px;
}

.slide-description {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 20px;
}

.slide-description-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}

.slide-description-property {
  font-size: 16px;
}

.slide-description-value {
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

/* slider-control - навигация по слайдам */

.slider-control {
  position: absolute;
  top: 38%;
  left: 30px;
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.slider-control-button {
  width: 20px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slider-prev {
  background-image: url("../images/icon/mark-left.svg");
}

.slider-next {
  background-image: url("../images/icon/mark-right.svg");
}

.slider-pagination {
  position: absolute;
  right: 0;
  bottom: 170px;
  display: flex;
  justify-content: space-between;
  width: 76px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-active {
  background-color: #000000;
}

/* categories */

.categories {
  margin-bottom: 82px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  column-gap: 40px;
}

.categories-item-link {
  text-decoration: none;
  color: #000000;
}

.categories-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.categories-title::before {
  display: block;
  content: "";
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  color: #000000;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.categories-title-vr::before {
  background-image: url("../images/icon/vr.svg");
}

.categories-title-monopod::before {
  background-image: url("../images/icon/monopod.svg");
  background-position: center bottom;
}

.categories-title-camera::before {
  background-image: url("../images/icon/camera.svg");
}

.categories-title-fitness::before {
  background-image: url("../images/icon/fitness-bracelet.svg");
}

.categories-title-watch::before {
  background-image: url("../images/icon/watch.svg");
}

.categories-title-quadrocopter::before {
  background-image: url("../images/icon/quadrocopter.svg");
}

/* advantages - преимущества */

.advantages {
  margin-bottom: 70px;
  color: #444444;
  background-image: linear-gradient(#FFFFFF 102px,#F0F0F0 102px);
}

.advantages-container {
  display: flex;
  min-height: 319px;
}

.advantages-pagination {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 287px;
  padding: 64px 0;
}

.advantages-pagination::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 72px;
  content: "";
  width: 7px;
  min-height: 300px;
  background-color: #000000;
}

.advantages-pagination-item:not(:last-child) {
  margin-bottom: 34px;
}

.advantages-pagination-active,
.advantages-pagination-active .button::before,
.advantages-pagination-active .advantages-button {
  align-self: stretch;
  content: none;
  color: #FFE17F;
  background-color: #000000;
}

.advantages-button {
  width: 160px;
  min-height: 40px;
  padding: 10px 4px;
}

.advantages-list {
  width: 872px;
  min-height: 391px;
  padding: 73px 62px 73px 116px;
}

.advantage-item {
  position: relative;
}

.advantage-item::after {
  position: absolute;
  content: "";
  width: 196px;
  height: 172px;
  background-repeat: no-repeat;
  background-position: right center;
}

.advantage-item-delivery::after {
  top: 0;
  right: 0;
  background-image: url("../images/icon/delivery-man.svg");
  background-size: 136px 164px;
}

.advantage-item-warranty {
  top: 0;
  right: 0;
  background-image: url("../images/icon/warranty.svg");
  background-size: 171px 195px;
}

.dvantage-item-credit {
  top: 0;
  right: 0;
  background-image: url("../images/icon/credit.svg");
  background-size: 156px 188px;
}

.advantage-title {
  width: 476px;
  margin-bottom: 34px;
}

.advantage-text {
  width: 476px;
  margin: 0;
}

/* delivery - блок доставки */

.delivery {
  position: relative;
  min-height: 100px;
  margin-bottom: 70px;
  color: #000000;
  background-color: #F0F0F0;
}

.delivery-button {
  display: block;
  padding: 41px 140px 36px 145px;
  font-size: 20px;
  line-height: 23px;
}

.delivery-button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 125px;
  min-height: 100px;
  background-color: #FFE17F;
  background-image: url("../images/icon/delivery-car.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-tooltip {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 125px;
  height: 100px;
}

.delivery-tooltip-button {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.delivery-tooltip-img {
  opacity: 0.3;
}

/* блокии о нас и контакты - сетка */

.about-wrappen {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
  padding-top: 48px;
}

.about {
  position: relative;
  width: 520px;
}

.contacts {
  position: relative;
  width: 532px;
}

.about::after,
.contacts::after {
  position: absolute;
  top: -48px;
  left: 0;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-title,
.contacts-title {
  margin-bottom: 48px;
}

.about-text,
.contacts-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-delivery-list {
  margin-bottom: 30px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.about-delivery-item {
  position: relative;
}

.about-delivery-item::before {
  position: absolute;
  top: 50%;
  left: -34px;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
  transform: translateY(-50%);
}

.about-delivery-item:not(:last-child) {
  margin-bottom: 19px;
}

.button-about {
  width: 270px;
  min-height: 40px;
  padding: 10px 6px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.contacts-address {
  margin-bottom: 30px;
  font-style: normal;
}

.contacts-address-text {
  margin: 0;
}

.contacts-address-tel {
  margin: 0;
  color: #444444;
}

.contacts-schedule {
  margin-bottom: 30px;
}

.button-contact {
  width: 260px;
  min-height: 40px;
  padding: 10px 6px;
}

/* блок с подпиской */

.subscribe {
  padding-top: 65px;
  padding-bottom: 55px;
  color: #444444;
  background-color: #F0F0F0;
}

.subscribe-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-row:not(:last-child) {
  margin-bottom: 144px;
}

.subscribe-title {
  width: 416px;
  margin: 0 7px;
}

.subscribe-text {
  width: 550px;
  margin: 0;
  margin-top: 10px;
}

.subscribe-form {
  display: flex;
  width: 810px;
}

.subscribe-form-input {
  width: 557px;
  padding: 11px 16px;
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #F0F0F0;
  border: 0;
  border-bottom: 3px solid #C4C4C4;
}

.subscribe-form-button {
  width: 253px;
  padding: 15px 36px;
  border: 3px solid #C4C4C4;
}

.subscribe-form-info {
  width: 164px;
  margin: 0;
  padding-left: 36px;
  background-image: url("../images/icon/mark-green.svg");
  background-repeat: no-repeat;
  background-position: left 4px top 6px;
}

/* main-footer */

.main-footer {
  min-height: 321px;
  padding: 62px 0;
  color: #FFFFFF;
  background-color: #444444;
}

.main-footer-wrappen {
  display: grid;
  grid-template-columns: 240px 468px 240px;
  grid-template-areas:
    "logo    .          .        "
    "address footer-nav telephone"
    ".       social     partner  ";
  column-gap: 106px;
  row-gap: 30px;
}

.footer-logo {
  grid-area: logo;
}

.footer-address {
  position: relative;
  grid-area: address;
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  line-height: 20px;
}

.footer-address::after {
  position: absolute;
  left: 1px;
  bottom: -55px;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-navigation {
  grid-area: footer-nav;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 22px;
}

.footer-navigation-link {
  display: block;
  padding: 10px 5px;
  color: #FFFFFF;
}

.footer-telephone {
  grid-area: telephone;
  justify-self: end;
  padding: 10px 4px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-social {
  grid-area: social;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.button-social {
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.button-social-facebook {
  background-image: url("../images/icon/facebook.svg");
  background-size: 9px 18px;
}

.button-social-instagram {
  background-image: url("../images/icon/instagram.svg");
  background-size: 16px 16px;
}

.button-social-twitter {
  background-image: url("../images/icon/twitter.svg");
  background-size: 15px 14px;
}

.logo-partner {
  grid-area: partner;
  justify-self: end;
  padding: 4px 0;
}

/* catalog */

