@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  margin-top: 17px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #FFFFFF;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.image-style {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.raleway-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.button {
  z-index: 0;
  position: relative;
  display: block;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button::before {
  z-index: -1;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  content: "";
  min-width: 100px;
  height: 8px;
  background-color: #FFE17F;
  transform: translateY(-50%);
}

.button-style {
  display: block;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

/* index-page */

/* header общие стили */

.main-header {
  display: grid;
  grid-template-columns: 534px 516px;
  grid-template-areas:
    "logo        .       "
    "search-form user-nav"
    "site-nav    site-nav";
  column-gap: 20px;
  row-gap: 30px;
  padding: 0 45px;
  color: #000000;
  background-color: #FFFFFF;
  background-image: linear-gradient(#FFFFFF 23px,#FFE17F 23px);
}

/* первый ряд header логотип девайс */

.header-logo {
  grid-area: logo;
  width: 145px;
  margin-left: 15px;
}

/* второй ряд header форма поиска и меню пользователя */

.header-search-form {
  position: relative;
  grid-area: search-form;
  display: flex;
  margin-left: 15px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.header-search-form::before {
  position: absolute;
  top: 50%;
  left: 16px;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/icon/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
}

.search-form-input {
  width: 359px;
  margin-right: -1px;
  padding: 8px 46px;
  font: inherit;
  color: #000000;
  background-color:  #FFE17F;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
}

.search-form-input::placeholder {
  color: #000000;
}

.search-form-button {
  width: 160px;
  margin-left: -1px;
  padding: 8px;
  font: inherit;
  text-align: center;
  background-color:  #FFE17F;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
}

.user-navigation {
  grid-area: user-nav;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
}

.user-navigation-item {
  max-width: 250px;
}

.user-navigation-login {
  margin-right: auto;
}

.user-menu,
.catalog-menu {
  display: flex;
  flex-wrap: wrap;
}

.user-menu-logout .user-navigation-link {
  padding-left: 28px;
}

.catalog-menu .catalog-menu-compare:not(:last-child) {
  margin-right: 18px;
}

.user-menu-login {
  background-image: url("../images/icon/man.svg");
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 13px 12px;
}

.catalog-menu-compare {
  background-image: url("../images/icon/compare.svg");
  background-repeat: no-repeat;
  background-position: 9px center;
  background-size: 10px 12px;
}

.catalog-menu-card {
  position: relative;
  background-image: url("../images/icon/card.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 16px 14px;
}

.catalog-menu-card::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "2";
  width: 21px;
  height: 21px;
  padding: 2px;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.user-navigation-link {
  display: block;
  padding: 5px 0 5px 32px;
  text-decoration: none;
  color: #000000;
}

.catalog-menu-card .user-navigation-link {
  padding-left: 42px;
}


/* третий ряд header каталог и меню сайта */

.site-navigation {
  grid-area: site-nav;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-navigation-item {
  margin-right: 16px;
}

.site-navigation-item:last-child {
  margin-right: -4px;
}

.site-navigation-item:first-child {
  margin-right: auto;
}

.site-navigation-link {
  display: block;
  padding: 15px;
}

.header-catalog-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

/* main-index */

.main-index {
  margin-top: -14px;
}

/* slider - стили слайдера */

.slider {
  position: relative;
  margin-bottom: 71px;
}

.slide-list {
  color: #444444;
  background-image: linear-gradient(#FFE17F 150px,#FFFFFF 150px);
}

.slide-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.slide-item::before {
  position: absolute;
  top: 82px;
  right: 48px;
  content: "01";
  width: 250px;
  min-height: 180px;
  font-style: normal;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  text-align: right;
  color: #FFFFFF;
}

.slide-item-description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  padding-top: 122px;
}

.slide-slogan {
  margin-bottom: 29px;
}

.slide-text {
  margin: 0;
  margin-bottom: 50px;
}

.slide-button-more {
  width: 220px;
  min-height: 40px;
  margin-bottom: 30px;
  padding: 10px 5px;
}

.slide-description {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 20px;
}

.slide-description-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}

.slide-description-property {
  font-size: 16px;
}

.slide-description-value {
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

/* slider-control - навигация по слайдам */

.slider-control {
  position: absolute;
  top: 38%;
  left: 30px;
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.slider-control-button {
  width: 20px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slider-prev {
  background-image: url("../images/icon/button-left.svg");
}

.slider-next {
  background-image: url("../images/icon/button-right.svg");
}

.slider-pagination {
  position: absolute;
  right: 0;
  bottom: 170px;
  display: flex;
  justify-content: space-between;
  width: 76px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-active {
  background-color: #000000;
}

/* categories - популярные категории товаров*/

.categories {
  margin-bottom: 82px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  column-gap: 40px;
}

.categories-item-link {
  text-decoration: none;
  color: #000000;
}

.categories-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.categories-title::before {
  display: block;
  content: "";
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  color: #000000;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.categories-title-vr::before {
  background-image: url("../images/icon/vr.svg");
}

.categories-title-monopod::before {
  background-image: url("../images/icon/monopod.svg");
  background-position: center bottom;
}

.categories-title-camera::before {
  background-image: url("../images/icon/camera.svg");
}

.categories-title-fitness::before {
  background-image: url("../images/icon/fitness-bracelet.svg");
}

.categories-title-watch::before {
  background-image: url("../images/icon/watch.svg");
}

.categories-title-quadrocopter::before {
  background-image: url("../images/icon/quadrocopter.svg");
}

/* advantages - преимущества */

.advantages {
  margin-bottom: 70px;
  color: #444444;
  background-image: linear-gradient(#FFFFFF 102px,#F0F0F0 102px);
}

.advantages-container {
  display: flex;
  min-height: 319px;
}

.advantages-pagination {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 287px;
  padding: 64px 0;
}

.advantages-pagination::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 72px;
  content: "";
  width: 7px;
  min-height: 300px;
  background-color: #000000;
}

.advantages-pagination-item:not(:last-child) {
  margin-bottom: 34px;
}

.advantages-pagination-active,
.advantages-pagination-active .button::before,
.advantages-pagination-active .advantages-button {
  align-self: stretch;
  content: none;
  color: #FFE17F;
  background-color: #000000;
}

.advantages-button {
  width: 160px;
  min-height: 40px;
  padding: 10px 4px;
}

.advantages-list {
  width: 872px;
  min-height: 391px;
  padding: 73px 62px 73px 116px;
}

.advantage-item {
  position: relative;
}

.advantage-item::after {
  position: absolute;
  content: "";
  width: 196px;
  height: 172px;
  background-repeat: no-repeat;
  background-position: right center;
}

.advantage-item-delivery::after {
  top: 0;
  right: 0;
  background-image: url("../images/icon/delivery-man.svg");
  background-size: 136px 164px;
}

.advantage-item-warranty {
  top: 0;
  right: 0;
  background-image: url("../images/icon/warranty.svg");
  background-size: 171px 195px;
}

.dvantage-item-credit {
  top: 0;
  right: 0;
  background-image: url("../images/icon/credit.svg");
  background-size: 156px 188px;
}

.advantage-title {
  width: 476px;
  margin-bottom: 34px;
}

.advantage-text {
  width: 476px;
  margin: 0;
}

/* delivery - блок доставки */

.delivery {
  position: relative;
  min-height: 100px;
  margin-bottom: 70px;
  color: #000000;
  background-color: #F0F0F0;
}

.delivery-button {
  display: block;
  padding: 41px 140px 36px 145px;
  font-size: 20px;
  line-height: 23px;
}

.delivery-button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 125px;
  min-height: 100px;
  background-color: #FFE17F;
  background-image: url("../images/icon/delivery-car.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-tooltip {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 125px;
  height: 100px;
}

.delivery-tooltip-button {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.delivery-tooltip-img {
  opacity: 0.3;
}

/* блокии о нас и контакты */

.about-wrappen {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
  padding-top: 48px;
}

.about {
  position: relative;
  width: 520px;
}

.contacts {
  position: relative;
  width: 532px;
}

.about::after,
.contacts::after {
  position: absolute;
  top: -48px;
  left: 0;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-title,
.contacts-title {
  margin-bottom: 48px;
}

.about-text,
.contacts-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-delivery-list {
  margin-bottom: 30px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.about-delivery-item {
  position: relative;
}

.about-delivery-item::before {
  position: absolute;
  top: 50%;
  left: -34px;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
  transform: translateY(-50%);
}

.about-delivery-item:not(:last-child) {
  margin-bottom: 19px;
}

.button-about {
  width: 270px;
  min-height: 40px;
  padding: 10px 6px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.contacts-address {
  margin-bottom: 30px;
  font-style: normal;
}

.contacts-address-text {
  margin: 0;
}

.contacts-address-tel {
  margin: 0;
  color: #444444;
}

.contacts-schedule {
  margin-bottom: 30px;
}

.button-contact {
  width: 260px;
  min-height: 40px;
  padding: 10px 6px;
}

/* блок с подпиской */

.subscribe {
  padding-top: 65px;
  padding-bottom: 55px;
  color: #444444;
  background-color: #F0F0F0;
}

.subscribe-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-row:not(:last-child) {
  margin-bottom: 144px;
}

.subscribe-title {
  width: 416px;
  margin: 0 7px;
}

.subscribe-text {
  width: 550px;
  margin: 0;
  margin-top: 10px;
}

.subscribe-form {
  display: flex;
  width: 810px;
}

.subscribe-form-input {
  width: 557px;
  padding: 11px 16px;
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #F0F0F0;
  border: 0;
  border-bottom: 3px solid #C4C4C4;
}

.subscribe-form-button {
  width: 253px;
  padding: 15px 36px;
  border: 3px solid #C4C4C4;
}

.subscribe-form-info {
  width: 164px;
  margin: 0;
  padding-left: 36px;
  background-image: url("../images/icon/mark-green.svg");
  background-repeat: no-repeat;
  background-position: left 4px top 6px;
}

/* main-footer */

.main-footer {
  min-height: 321px;
  padding: 62px 0;
  color: #FFFFFF;
  background-color: #444444;
}

.main-footer-wrappen {
  display: grid;
  grid-template-columns: 240px 468px 240px;
  grid-template-areas:
    "logo    .          .        "
    "address footer-nav telephone"
    ".       social     partner  ";
  column-gap: 106px;
  row-gap: 30px;
}

.footer-logo {
  grid-area: logo;
}

.footer-address {
  position: relative;
  grid-area: address;
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  line-height: 20px;
}

.footer-address::after {
  position: absolute;
  left: 1px;
  bottom: -55px;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-navigation {
  grid-area: footer-nav;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 22px;
}

.footer-navigation-link {
  display: block;
  padding: 10px 5px;
  color: #FFFFFF;
}

.footer-telephone {
  grid-area: telephone;
  justify-self: end;
  padding: 10px 4px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-social {
  grid-area: social;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.button-social {
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.button-social-facebook {
  background-image: url("../images/icon/facebook.svg");
  background-size: 9px 18px;
}

.button-social-instagram {
  background-image: url("../images/icon/instagram.svg");
  background-size: 16px 16px;
}

.button-social-twitter {
  background-image: url("../images/icon/twitter.svg");
  background-size: 15px 14px;
}

.logo-partner {
  grid-area: partner;
  justify-self: end;
  padding: 4px 0;
}

/* catalog */

.catalog-container {
  display: grid;
  grid-template-columns: 320px 840px;
  grid-template-areas:
    "filter sort   "
    "filter catalog"
    "filter control";
  justify-content: center;
  background-color: #F0F0F0;
}

/* header страницы catalog */

.header-catalog {
  padding: 58px 60px 29px;
  background-image: linear-gradient(#FFE17F 22px, #FFFFFF 22px);
}

.catalog-title {
  margin-bottom: 11px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 50%;
  right: -22px;
  content: "";
  width: 4px;
  height: 7px;
  background-image: url("../images/icon/mark-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
  opacity: 0.2;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 38px;
}

.breadcrumbs-link {
  display: block;
  padding: 5px 0;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

/* filter - фильтр товаров */

.catalog-filter {
  grid-area: filter;
  padding: 26px 40px 26px 60px;
}

.filter-title {
  margin: 0;
  margin-bottom: 60px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.filter-form {
  display: flex;
  flex-direction: column;
}

.filter-form-group {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: 0;
}

.filter-form-group::before {
  position: absolute;
  top: -55px;
  right: 20px;
  left: 0;
  content: "";
  height: 2px;
  background-color: #000000;
}

.filter-form-title {
  padding: 12px 0 20px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.filter-form-list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.filter-form-item:not(:last-child) {
  margin-bottom: 18px;
}

.filter-form-group:last-of-type .filter-form-item:not(:last-child) {
  margin-bottom: 20px;
}

/* стилизация range */

.cost-scale {
  position: relative;
  width: 200px;
  height: 2px;
  margin-top: 8px;
  margin-bottom: 14px;
  background-color: #DCDCDC;
}

.cost-scale-level {
  z-index: 0;
  position: absolute;
  top: 0;
  height: 2px;
  background-color: #000000;
}

.cost-scale-pin {
  z-index: 1;
  position: absolute;
  top: -9px;
  width: 18px;
  height: 18px;
  padding: 0;
  background-color: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.pin-min {
  left: -9px;
}

.pin-max {
  left: 110px;
}

.cost-control {
  display: flex;
  margin-left: -12px;
}

.cost-item {
  display: flex;
  align-items: center;
}

.cost-item:not(:last-child) {
  margin-right: 22px;
}

.cost-label,
.cost-input {
  font-family: inherit;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.cost-label {
  max-width: 26px;
}

.cost-input {
  width: 62px;
  background-color: transparent;
  border: 0;
  appearance: textfield;
}

.cost-input::-webkit-outer-spin-button,
.cost-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* стилизация checkbox и radio */

.filter-form-label {
  position: relative;
  padding-left: 36px;
}

.control-checkbox,
.control-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-left: -36px;
  background-color: transparent;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
}

.control-radio {
  border-radius: 50%;
}

.filter-form-checkbox:checked + .control-checkbox {
  background-image: url("../images/icon/checkbox.svg");
  border-color: #000000;
}

.filter-form-radio:checked + .control-radio {
  background-image: url("../images/icon/radio.svg");
  border-color: #000000;
}

.filter-form-button {
  width: 220px;
  min-height: 40px;
  padding: 10px 5px;
}

/* sort - сортировка результатов поиска */

.sort {
  grid-area: sort;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.sort-title {
  max-width: 200px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.select-wrapper {
  width: 160px;
}

.sort-select {
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #F0F0F0;
  background-image: url("../images/icon/mark-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 9px 6px;
  border: 0;
  appearance: none;
  cursor: pointer;
}

.sort-list {
  display: flex;
  max-width: 90px;
}

.sort-item {
  font-size: 16px;
  line-height: 19px;
}

.sort-button {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #F0F0F0;
  background-image: url("../images/icon/mark-sort.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 10px;
  border: 0;
  opacity: 0.2;
  cursor: pointer;
}

.sort-button-bottom {
  transform: rotate(180deg);
}

/* catalog - карточки товаров */

.catalog {
  grid-area: catalog;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  column-gap: 40px;
  row-gap: 44px;
  padding: 70px 40px 44px;
  background-color: #FFFFFF;
}

.catalog-item {
  position: relative;
  min-height: 452px;
}

.catalog-item-link {
  text-decoration: none;
}

.catalog-item-image {
  margin-bottom: 32px;
}

.catalog-item-description {
  display: flex;
  justify-content: space-between;
}

.catalog-item-title {
  max-width: 226px;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.catalog-item-cost {
  max-width: 100px;
  margin: 0;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.catalog-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 360px;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
}

.catalog-button {
  width: 220px;
  margin: auto;
  padding: 10px 5px;
}

.catalog-item:hover .catalog-button-wrapper {
  display: flex;
}

/* навигация по результатам поиска */

.page-control {
  grid-area: control;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.page-control-button {
  margin: 0 auto 44px;
}

.control-button {
  width: 760px;
  padding: 15px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  border: 3px solid #E5E5E5;
}

.page-control-pagination {
  display: flex;
  align-items: center;
  width: 760px;
  min-height: 71px;
  margin: 0 auto 78px;
  background-color: #EBEBEB;
}

.pagination-item-back {
  margin-right: auto;
}

.pagination-item-forward {
  margin-left: auto;
}

.pagination-link {
  display: block;
  min-width: 40px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-link-back,
.pagination-link-forward {
  min-width: 128px;
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}

/* модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

/* использовать класс для закрытия модального окна */

.modal-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #FFFFFF;
}

.modal-order {
  width: 920px;
  min-height: 568px;
  padding: 62px 70px;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-close-button {
  position: absolute;
  top: 73px;
  right: 70px;
  content: "";
  width: 26px;
  height: 26px;
  background-image: url("../images/icon/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-title {
  margin-bottom: 42px;
}

/* форма заказа в модальном окне */

.order-form {
  display: flex;
  flex-direction: column;
}

.order-form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 42px;
}

.order-form-name {
  width: 360px;
}

.order-form-email {
  width: 360px;
}

.order-form-product {
  width: 540px;
}

.order-form-quantity {
  width: 180px;
}

.order-form-title {
  display: block;
  margin-bottom: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.input-wrapper {
  position: relative;
  display: block;
}

.order-form-input {
  display: block;
  width: 100%;
  min-height: 60px;
  padding: 20px;
  padding-right: 40px;
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  border: 0;
  background-color: #F0F0F0;
}

.input-name {
  background-image: url("../images/icon/man-order.svg");
  background-repeat: no-repeat;
  background-position: center  right 20px;
  background-size: 13px 12px;
}

.input-email {
  background-image: url("../images/icon/mail.svg");
  background-repeat: no-repeat;
  background-position: center  right 20px;
  background-size: 13px 12px;
}

.input-email:invalid {
  box-shadow: inset 0 0 0 2px #FF3D3D;
}

.input-quantity {
  padding: 20px 60px;
  text-align: center;
  appearance: textfield;
}

.input-quantity::-webkit-outer-spin-button,
.input-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.order-form-text {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.order-form-text-error {
  color: #FF3D3D;
}

.modal-tooltip {
  position: absolute;
  top: -4px;
  right: 33px;
}

.modal-tooltip-button {
  width: 26px;
  height: 26px;
  background-color: #FFE17F;
  border-radius: 50%;
}

.button-input {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.button-remove {
  left: 18px;
  bottom: 18px;
  background-image: url("../images/icon/minus.svg");
}

.button-add {
  right: 17px;
  bottom: 18px;
  background-image: url("../images/icon/plus.svg");
}

.order-form-button {
  width: 200px;
  padding: 10px 5px;
}
